<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>457128115939-mlohg3qfobu3vbba6bg2skinpkb0b8hk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.457128115939-mlohg3qfobu3vbba6bg2skinpkb0b8hk</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>457128115939-rip5e5kg49bpneskbugigb0h2db52t4s.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCYzaEnlGEBgOli9wGcoKIogNZWkqkHzVY</string>
	<key>GCM_SENDER_ID</key>
	<string>457128115939</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.prestaqi.prestaqi.prestaQi</string>
	<key>PROJECT_ID</key>
	<string>prestaqi-c1f13</string>
	<key>STORAGE_BUCKET</key>
	<string>prestaqi-c1f13.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:457128115939:ios:8671578b250f255f61cfd6</string>
	<key>DATABASE_URL</key>
	<string>https://prestaqi-c1f13.firebaseio.com</string>
</dict>
</plist>